<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/shared/layout.html}">
<head>  
  <title>Account Plans</title>
</head>
<body>
  <div layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
      <a th:href="@{/admin}">Home</a>
    </li>
    <li class="breadcrumb-item active"><span>Account Plans</span></li>
  </div>

  <div layout:fragment="content">
    <div class="table-responsive">
      <table class="table border mb-0">
        <thead class="table-light fw-semibold">
          <tr class="align-middle">
            <th class="text-center">Plan ID</th>
            <th class="text-center">Currency</th>
            <th class="text-center">Account Type</th>
            <th class="text-center">Min Balance</th>
            <th class="text-center">Interest Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="account : ${accountPlans}" class="align-middle">
            <td class="text-center">
              <span th:text="${account.id}"></span>
            </td>
            <td class="text-center">
              <span th:text="${account.currency}"></span>
            </td>
            <td class="text-center">
              <span th:text="${account.type}"></span>
            </td>
            <td class="text-center">
              <span th:text="${account.minBalance}"></span>
            </td>
            <td class="text-center">
              <span th:text="${account.interestRate}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>